# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore data and model files
data/
models/

# OS-specific files
.DS_Store
Thumbs.db
